# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
*.env

# VSCode
.vscode/

# Node
frontend/node_modules/
frontend/build/
frontend/.env

# Database
*.sqlite3
*.db
*.pgsql
*.psql

# Migrations
migrations/__pycache__/
migrations/*.pyc
migrations/versions/*.pyc

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Coverage
htmlcov/
.coverage
.cache
.pytest_cache/

# React
frontend/.DS_Store
frontend/.cache/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*